<h2 class="title">Edit Post</h2>
<form id="update-form" method="post">
  <input id="id-input" type="hidden" value="<%= post.get('id') %>" />
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Title</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input
            class="input"
            id="title-input"
            type="text"
            value="<%= post.get('title') %>"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Body</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <textarea class="textarea" id="body-input">
<%= post.get('body') %></textarea
          >
        </div>
      </div>
    </div>
  </div>
  <div class="field is-grouped is-grouped-right">
    <p class="control">
      <button class="button is-info">Submit</button>
    </p>
    <p class="control">
      <a class="button is-light" href="/posts">Cancel</a>
    </p>
  </div>
</form>
<script>
  const updateForm = document.getElementById('update-form');
  const idInput = document.getElementById('id-input');
  const titleInput = document.getElementById('title-input');
  const bodyInput = document.getElementById('body-input');

  updateForm.addEventListener('submit', event => {
    event.preventDefault();

    fetch(`/posts/${idInput.value}`, {
      body: JSON.stringify({
        body: bodyInput.value,
        title: titleInput.value
      }),
      headers: {
        'Content-Type': 'application/json'
      },
      method: 'PATCH'
    }).then(() => (window.location.href = `/posts/${idInput.value}`));
  });
</script>
