<nav class="is-light navbar">
  <div class="container is-flex" style="justify-content: center;">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <h1 class="is-4 title">Glob</h1>
      </a>
    </div>
  </div>
</nav>
